.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: animka 10s infinite linear;
}

@keyframes animka {
    from {
        transform: rotate(0deg) 
    }
    to {
        transform: rotate(360deg) 
    }
}