.mymodal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.mymodalcontent {
    padding: 20px;
    background-color: darkorange;
    border-radius: 12px;
    min-width: 300px;
}